@charset "UTF-8";

/*
    Paleta de Cores
    ---------------
    Verde: #49a09d
    Lilás: # 5d2c82
*/

/* Typical Device Breakpoints
----------------------------- 
Pequenas telas: até 600px
Celular: 600px ~ 768px
Tablet: 768px ~ 992px
Desktop: 992px ~ 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #5d2c82, #49a09d);
    }
    
    section#login{
        width: 80vw;
        height: 280px;
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    
    section#login > div#form{
        float: right;
        width: 70%;
    }
    div#form > h1{
        font-size: 1.3em;
    }
    div#form > p {
        font-size: 1em;
        margin: 10px 0px;
    }
}

@media screen and (min-width: 922px) {
    body{
        background-image: linear-gradient(to bottom, #5d2c82, #49a09d);
    }
    
    section#login{
        width: 900px;
        height: 350px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form{
        float: left;
        width: 50%;
    }

    div#form > h1{
        font-size: 2em;
    }
    
    div#form > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }

}