@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    margin: auto;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 1em;
}

header a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header > h1{
    font-family: Passion One;
    color: white;
}


section > p{
    margin: 30px;

}
section{
    font-family: Sriracha;
    font-size: 3vw;
    padding: 10px;

}

section.branco{
    background-color: lightblue;

}
section.img{
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    padding: 10px;
    position: relative;
}
#borboleta{
    color:white
    width: 100%;
    background-image: url('../imagens/background001.jpg');
    position: absolute;
}
#livro{
    color:white
    width: 100%;
    background-image: url('../imagens/background002.jpg');
    position: absolute;
}
section > p.fb{
    background-color: rgba(0, 0, 0, 0.4);
    width: 40%;
}